
.main {
    padding-top: 95px;
    max-width: 1920px;
    height: 530px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    background-image: url(/img/main/main-bg.jpg);
    position: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container {
    position: relative;
    text-align: center;
    align-items: center;
}
.main-title {
    position: relative;
    padding-bottom: 8px;
    margin: 0 auto;
    color: var(--orange, #F90);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 43.2px;
}
.main-btn-arr {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 29px;
    right: 29px; 
    width: calc(100% - 58px); 
}

.main-btn-left,
.main-btn-right {
    display: inline-block;
}


.main-bonus {

    max-width: 584px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    color: var(--white, #FFF);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height:  76.8px;
}
.main-btn {

    position: relative;
    width: 292px;
    height: 80px;

    flex-shrink: 0;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    border-radius: 40px;
    background: linear-gradient(180deg, #FFF614 40.10%, #FF7A00 49.48%);
    box-shadow: 0px 6.875px 13.75px 0px rgba(82, 48, 8, 0.20);
}

.main-btn::before {
    padding-bottom: 75px;
    margin-right: auto;
    margin-left: auto;
    top: 3px;
    left: 3px;


    width: 286px;
    height: 74px;
    flex-shrink: 0;
    content: "";
    position: absolute;
    border-radius: 37px;
    background: linear-gradient(180deg, #18E0C8 0%, #1A8B92 100%);
    box-shadow: 0px 1px 1px 0px #FFF615, 0px -2px 20px 0px #116A7D inset;

    color: #FFF;
    text-align: center;
    text-shadow: 1px -1px 1px rgba(21, 131, 145, 0.70), 0px 1px 1px #6BE5DB;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 18px  27px 17px 28px;
}
.main-btn-link {
    top: 20px;
    position: absolute;
    color: #FFF;
    text-shadow: 1px -1px 1px rgba(21, 131, 145, 0.70), 0px 1px 1px #6BE5DB;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    width: 290px;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.3s ease-in-out;
}

.main-btn-link:hover {
    transform: translateY(-2px);
    transition: 0.2s ease-in;
}



.main-slider-radio {
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}


.radio-links {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    opacity: 0.2; 
}

.radio-links.active {
    opacity: 0.5;
}

